/* Reset page margin and padding and font-family */
body, html, h1, h2 {
    font-family: 'Amaranth', 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Using variables */
:root {
    --main-green: #A3D96C;
}


p, button {
    font-family: 'Open Sans', sans-serif;
}

/* Tablet Structure, buttons and screen area */
.tablet-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    position: relative; /* to position the circles on top and boottom */
    border-radius: 100px;
    border: 60px solid #1C1C1C;
    background-color: #F2F2F2;
    /* width: 1280px; /* whole content width */
    width: 80%; /* whole content width */ 
    height: auto;
}

.top-circle {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    position: absolute;
    top: -40px;
    background-color: #dd1212;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.bottom-circle {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    position: absolute;
    bottom: -50px;
    background-color: #b61818;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.screen-area {
    width: 100%; /* width of the whole screen */
    margin: 20px auto;
}

/* Header */
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 70px auto;
}

.logo {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

h1 {
    font-size: 4.5rem;
}

.image-bg {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 350px;
    background-color: var(--main-green);
    width: 100%;
    margin: 170px auto 30px auto;
}

.phone-designs {
    margin-bottom: 10px;
}